input{
    width: 50%;
    display: inline-block;
    margin: 5px auto;
}
h1{
    color: white;
    
}
.card{
    background:linear-gradient(rgb(20, 2, 100), rgb(54, 35, 141), rgb(57, 23, 209));
    margin: 75px auto;
    width:50%;
    color: white;
    padding: 10px 20px
}
body{
    background-image:url("https://hpmedia.bloomsbury.com/rep/g/page-background%20-%20product.png");
    background-repeat: no-repeat;

}
.navbar{
    margin: 0 auto;
}
#display{
    color: white;
    font-size: 32px;
    font-weight: bolder;
}